<section class="px-8 py-5">
  <div *ngIf="projeto" class="flex justify-between items-center pb-3 border-b border-gray-400">
    <div class="flex items-center">
      <div
        class="w-10 h-10 rounded-full bg-violet-200 flex items-center text-xl justify-center"
      >
        {{projeto.nome[0]}}
      </div>
      <h3 class="text-xl ms-3 font-medium">{{projeto.nome}}</h3>
    </div>
    <div class="ms-auto">
      <button
        (click)="backToEstimativaHome()"
        class="bg-violet-700 text-white p-2 rounded-md hover:bg-violet-800 font-medium flex items-center shadow-md mr-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-5 h-5 me-2"
        >
          <path
            d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z"
          />
        </svg>
        Retornar ao Início
      </button>
    </div>
  </div>
  <div class="container px-5 py-24 mx-auto">
    <form
      (submit)="onSubmit()"
      [formGroup]="EstimativaFormGroup"
      class="border-l-4 border-violet-700 rounded-lg md:w-1/2 mx-auto flex flex-col items-center shadow-lg p-10"
    >
      <div class="rounded-full bg-violet-700 p-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="ws-10 h-10 text-white font-black"
        >
          <path
            fillRule="evenodd"
            d="M14.447 3.027a.75.75 0 01.527.92l-4.5 16.5a.75.75 0 01-1.448-.394l4.5-16.5a.75.75 0 01.921-.526zM16.72 6.22a.75.75 0 011.06 0l5.25 5.25a.75.75 0 010 1.06l-5.25 5.25a.75.75 0 11-1.06-1.06L21.44 12l-4.72-4.72a.75.75 0 010-1.06zm-9.44 0a.75.75 0 010 1.06L2.56 12l4.72 4.72a.75.75 0 11-1.06 1.06L.97 12.53a.75.75 0 010-1.06l5.25-5.25a.75.75 0 011.06 0z"
            clipRule="evenodd"
          />
        </svg>
      </div>
      <h2 class="my-4 text-xl text-center">
        Inserir
        <span class="font-medium text-violet-700">Nova Estimativa</span>
      </h2>
      <div class="relative mb-4 w-full">
        <label for="Efactor" class="leading-7 text-sm text-gray-600"
          >E-factor</label
        >
        <input
          formControlName="Efactor"
          type="number"
          id="Efactor"
          name="Efactor"
          class="w-full bg-gray-50 rounded border border-gray-300 focus:border-violet-700 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
        <div
          *ngIf="
              EstimativaFormGroup.get('Efactor')?.invalid &&
            (EstimativaFormGroup.get('Efactor')?.dirty ||
              EstimativaFormGroup.get('Efactor')?.touched)
          "
          class="text-red-600 text-xs mt-1"
        >
          <div *ngIf="EstimativaFormGroup.get('Efactor')?.errors?.['required']">
            Campo obrigatório.
          </div>
        </div>
      </div>
      <div class="relative mb-4 w-full">
        <label for="Tfactor" class="leading-7 text-sm text-gray-600"
          >T-factor</label
        >
        <input
          formControlName="Tfactor"
          type="number"
          id="Tfactor"
          name="Tfactor"
          class="w-full bg-gray-50 rounded border border-gray-300 focus:border-violet-700 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
        <div
          *ngIf="
              EstimativaFormGroup.get('Tfactor')?.invalid &&
            (EstimativaFormGroup.get('Tfactor')?.dirty ||
              EstimativaFormGroup.get('Tfactor')?.touched)
          "
          class="text-red-600 text-xs mt-1"
        >
          <div *ngIf="EstimativaFormGroup.get('Tfactor')?.errors?.['required']">
            Campo obrigatório.
          </div>
        </div>
      </div>
      <div class="relative mb-4 w-full">
        <label for="PesoCaso" class="leading-7 text-sm text-gray-600"
          >Peso por Caso de Uso</label
        >
        <input
          formControlName="PesoCaso"
          type="number"
          id="PesoCaso"
          name="PesoCaso"
          class="w-full bg-gray-50 rounded border border-gray-300 focus:border-violet-700 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
        <div
          *ngIf="
              EstimativaFormGroup.get('PesoCaso')?.invalid &&
            (EstimativaFormGroup.get('PesoCaso')?.dirty ||
              EstimativaFormGroup.get('PesoCaso')?.touched)
          "
          class="text-red-600 text-xs mt-1"
        >
          <div *ngIf="EstimativaFormGroup.get('PesoCaso')?.errors?.['required']">
            Campo obrigatório.
          </div>
        </div>
      </div>
      <div class="relative mb-4 w-full">
        <label for="PesoAtor" class="leading-7 text-sm text-gray-600"
        >Peso por Ator</label
        >
        <input
          formControlName="PesoAtor"
          type="number"
          id="PesoAtor"
          name="PesoAtor"
          class="w-full bg-gray-50 rounded border border-gray-300 focus:border-violet-700 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
        <div
          *ngIf="
              EstimativaFormGroup.get('PesoAtor')?.invalid &&
            (EstimativaFormGroup.get('PesoAtor')?.dirty ||
              EstimativaFormGroup.get('PesoAtor')?.touched)
          "
          class="text-red-600 text-xs mt-1"
        >
          <div *ngIf="EstimativaFormGroup.get('PesoAtor')?.errors?.['required']">
            Campo obrigatório.
          </div>
        </div>
      </div>
      <div class="relative mb-4 w-full">
        <label for="PesoPontos" class="leading-7 text-sm text-gray-600"
        >Peso por Pontos por Caso de Uso</label
        >
        <input
          formControlName="PesoPontos"
          type="number"
          id="PesoPontos"
          name="PesoPontos"
          class="w-full bg-gray-50 rounded border border-gray-300 focus:border-violet-700 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
        <div
          *ngIf="
              EstimativaFormGroup.get('PesoPontos')?.invalid &&
            (EstimativaFormGroup.get('PesoPontos')?.dirty ||
              EstimativaFormGroup.get('PesoPontos')?.touched)
          "
          class="text-red-600 text-xs mt-1"
        >
          <div *ngIf="EstimativaFormGroup.get('PesoPontos')?.errors?.['required']">
            Campo obrigatório.
          </div>
        </div>
      </div>
      <div class="relative mb-4 w-full">
        <label for="ResPontos" class="leading-7 text-sm text-gray-600"
        >Resultado por Pontos por Caso de Uso</label
        >
        <input
          formControlName="ResPontos"
          type="number"
          id="ResPontos"
          name="ResPontos"
          class="w-full bg-gray-50 rounded border border-gray-300 focus:border-violet-700 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
        <div
          *ngIf="
              EstimativaFormGroup.get('ResPontos')?.invalid &&
            (EstimativaFormGroup.get('ResPontos')?.dirty ||
              EstimativaFormGroup.get('ResPontos')?.touched)
          "
          class="text-red-600 text-xs mt-1"
        >
          <div *ngIf="EstimativaFormGroup.get('ResPontos')?.errors?.['required']">
            Campo obrigatório.
          </div>
        </div>
      </div>
      <div class="relative mb-4 w-full">
        <label for="ResHoras" class="leading-7 text-sm text-gray-600"
        >Resultado em Horas</label
        >
        <input
          formControlName="ResHoras"
          type="number"
          id="ResHoras"
          name="ResHoras"
          class="w-full bg-gray-50 rounded border border-gray-300 focus:border-violet-700 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
        <div
          *ngIf="
              EstimativaFormGroup.get('ResHoras')?.invalid &&
            (EstimativaFormGroup.get('ResHoras')?.dirty ||
              EstimativaFormGroup.get('ResHoras')?.touched)
          "
          class="text-red-600 text-xs mt-1"
        >
          <div *ngIf="EstimativaFormGroup.get('ResHoras')?.errors?.['required']">
            Campo obrigatório.
          </div>
        </div>
      </div>
      <button
        class="inline-flex items-center font-medium bg-violet-600 border-0 rounded p-3 w-1/3 justify-center focus:outline-none hover:bg-violet-800 text-white mt-4"
      >
        Concluir Cadastro
      </button>
    </form>
  </div>
</section>
