<section>
  <div class="container px-5 py-24 mx-auto">
    <form
      class="border-l-4 border-violet-700 rounded-lg md:w-1/2 mx-auto flex flex-col items-center shadow-lg p-10"
    >
      <div class="rounded-full bg-violet-700 p-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="ws-10 h-10 text-white font-black"
        >
          <path
            fillRule="evenodd"
            d="M14.447 3.027a.75.75 0 01.527.92l-4.5 16.5a.75.75 0 01-1.448-.394l4.5-16.5a.75.75 0 01.921-.526zM16.72 6.22a.75.75 0 011.06 0l5.25 5.25a.75.75 0 010 1.06l-5.25 5.25a.75.75 0 11-1.06-1.06L21.44 12l-4.72-4.72a.75.75 0 010-1.06zm-9.44 0a.75.75 0 010 1.06L2.56 12l4.72 4.72a.75.75 0 11-1.06 1.06L.97 12.53a.75.75 0 010-1.06l5.25-5.25a.75.75 0 011.06 0z"
            clipRule="evenodd"
          />
        </svg>
      </div>
      <h2 class="my-4 text-xl text-center">
        Efetuar Login como
        <span class="font-medium text-violet-700">Stakeholder</span>
      </h2>
      <div class="relative mb-4 w-full">
        <label for="chave" class="leading-7 text-sm text-gray-600"
          >Chave de Acesso</label
        >
        <input
          type="text"
          id="chave"
          name="chave"
          class="w-full bg-gray-50 rounded border border-gray-300 focus:border-violet-700 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
      </div>
      <div class="relative mb-4 w-full">
        <label for="password" class="leading-7 text-sm text-gray-600"
          >Senha</label
        >
        <input
          type="password"
          id="password"
          name="password"
          class="w-full bg-gray-50 rounded border border-gray-300 focus:border-violet-700 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
      </div>
      <a
        href="/stakeholder-signin"
        class="inline-flex items-center font-medium bg-violet-600 border-0 rounded p-3 w-1/3 justify-center focus:outline-none hover:bg-violet-800 text-white mt-4"
      >
        Efetuar Login
      </a>
      <p class="text-gray-700 text-center text-sm mt-6 font-light">
        Ainda não possui uma chave de acesso?
        <span href="/signup" class="text-violet-700 font-medium"
          >Solicite-a ao seu parceiro.</span
        >
      </p>
    </form>
  </div>
</section>
