<section class="px-8 py-5">
  <div *ngIf="projeto" class="flex justify-between items-center pb-3 border-b border-gray-400">
    <div class="flex items-center">
      <div
        class="w-10 h-10 rounded-full bg-violet-200 flex items-center text-xl justify-center"
      >
        {{projeto.nome[0]}}
      </div>
      <h3 class="text-xl ms-3 font-medium">{{projeto.nome}}</h3>
    </div>
    <div class="ms-auto">
      <button
        (click)="backToPrioreasy()"
        class="bg-violet-700 text-white p-2 rounded-md hover:bg-violet-800 font-medium flex items-center shadow-md mr-2"
      >
      <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="w-5 h-5 me-2"
    >
      <path
        fill-rule="evenodd"
        d="M9.53 2.47a.75.75 0 010 1.06L4.81 8.25H15a6.75 6.75 0 010 13.5h-3a.75.75 0 010-1.5h3a5.25 5.25 0 100-10.5H4.81l4.72 4.72a.75.75 0 11-1.06 1.06l-6-6a.75.75 0 010-1.06l6-6a.75.75 0 011.06 0z"
        clip-rule="evenodd"
      />
      </svg>
        Retornar ao Início
      </button>
    </div>
  </div>
  <div class="container px-5 py-24 mx-auto">
    <form
      (submit)="onSubmit()"
      [formGroup]="stakeholderFormGroup"
      class="border-l-4 border-violet-700 rounded-lg md:w-1/2 mx-auto flex flex-col items-center shadow-lg p-10"
    >
      <div class="rounded-full bg-violet-700 p-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="ws-10 h-10 text-white font-black"
        >
          <path
            fillRule="evenodd"
            d="M14.447 3.027a.75.75 0 01.527.92l-4.5 16.5a.75.75 0 01-1.448-.394l4.5-16.5a.75.75 0 01.921-.526zM16.72 6.22a.75.75 0 011.06 0l5.25 5.25a.75.75 0 010 1.06l-5.25 5.25a.75.75 0 11-1.06-1.06L21.44 12l-4.72-4.72a.75.75 0 010-1.06zm-9.44 0a.75.75 0 010 1.06L2.56 12l4.72 4.72a.75.75 0 11-1.06 1.06L.97 12.53a.75.75 0 010-1.06l5.25-5.25a.75.75 0 011.06 0z"
            clipRule="evenodd"
          />
        </svg>
      </div>
      <h2 class="my-4 text-xl text-center">
        Efetuar Cadastro de
        <span class="font-medium text-violet-700">Stakeholder</span>
      </h2>
      <div class="relative mb-4 w-full">
        <label for="name" class="leading-7 text-sm text-gray-600"
          >Nome Completo</label
        >
        <input
          formControlName="nome"
          type="text"
          id="name"
          name="name"
          class="w-full bg-gray-50 rounded border border-gray-300 focus:border-violet-700 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
        <div *ngIf="stakeholderFormGroup.get('nome')?.invalid && (stakeholderFormGroup.get('nome')?.dirty || stakeholderFormGroup.get('nome')?.touched)" class="text-red-600 text-xs mt-1">
          <div *ngIf="stakeholderFormGroup.get('nome')?.errors?.['required']">Campo obrigatório.</div>
          <div *ngIf="stakeholderFormGroup.get('nome')?.errors?.['minlength']">Mínimo de 5 caracteres.</div>
          <div *ngIf="stakeholderFormGroup.get('nome')?.errors?.['maxlength']">Máximo de 100 caracteres.</div>
        </div>
      </div>
      <div class="relative mb-4 w-full">
        <label for="email" class="leading-7 text-sm text-gray-600"
          >Endereço de email</label
        >
        <input
          formControlName="email"
          type="email"
          id="email"
          name="email"
          class="w-full bg-gray-50 rounded border border-gray-300 focus:border-violet-700 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
        <div *ngIf="stakeholderFormGroup.get('email')?.invalid && (stakeholderFormGroup.get('email')?.dirty || stakeholderFormGroup.get('email')?.touched)" class="text-red-600 text-xs mt-1">
          <div *ngIf="stakeholderFormGroup.get('email')?.errors?.['required']">Campo obrigatório.</div>
          <div *ngIf="stakeholderFormGroup.get('email')?.errors?.['minlength']">Mínimo de 5 caracteres.</div>
          <div *ngIf="stakeholderFormGroup.get('email')?.errors?.['maxlength']">Máximo de 255 caracteres.</div>
        </div>
      </div>
      <div class="relative mb-4 w-full">
        <label for="role" class="leading-7 text-sm text-gray-600"
          >Cargo</label
        >
        <input
          formControlName="cargo"
          type="text"
          id="role"
          name="role"
          class="w-full bg-gray-50 rounded border border-gray-300 focus:border-violet-700 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
        <div *ngIf="stakeholderFormGroup.get('cargo')?.invalid && (stakeholderFormGroup.get('cargo')?.dirty || stakeholderFormGroup.get('cargo')?.touched)" class="text-red-600 text-xs mt-1">
          <div *ngIf="stakeholderFormGroup.get('cargo')?.errors?.['required']">Campo obrigatório.</div>
          <div *ngIf="stakeholderFormGroup.get('cargo')?.errors?.['minlength']">Mínimo de 5 caracteres.</div>
          <div *ngIf="stakeholderFormGroup.get('cargo')?.errors?.['maxlength']">Máximo de 50 caracteres.</div>
        </div>
      </div>
      <div class="flex gap-2 w-full">
        <div class="relative mb-4 w-full">
          <label for="password" class="leading-7 text-sm text-gray-600"
            >Senha</label
          >
          <input
            formControlName="senha"
            type="password"
            id="password"
            name="password"
            class="w-full bg-gray-50 rounded border border-gray-300 focus:border-violet-700 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          />
          <div *ngIf="stakeholderFormGroup.get('senha')?.invalid && (stakeholderFormGroup.get('senha')?.dirty || stakeholderFormGroup.get('senha')?.touched)" class="text-red-600 text-xs mt-1">
            <div *ngIf="stakeholderFormGroup.get('senha')?.errors?.['required']">Campo obrigatório.</div>
            <div *ngIf="stakeholderFormGroup.get('senha')?.errors?.['minlength']">Mínimo de 5 caracteres.</div>
            <div *ngIf="stakeholderFormGroup.get('senha')?.errors?.['maxlength']">Máximo de 30 caracteres.</div>
          </div>
        </div>
        <div class="relative mb-4 w-full">
          <label for="confirm_password" class="leading-7 text-sm text-gray-600"
            >Confirmar Senha</label
          >
          <input
            formControlName="confirmarSenha"
            type="password"
            id="confirm_password"
            name="confirm_password"
            class="w-full bg-gray-50 rounded border border-gray-300 focus:border-violet-700 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          />
          <div *ngIf="stakeholderFormGroup.get('confirmarSenha')?.invalid && (stakeholderFormGroup.get('confirmarSenha')?.dirty || stakeholderFormGroup.get('confirmarSenha')?.touched)" class="text-red-600 text-xs mt-1">
            <div *ngIf="stakeholderFormGroup.get('confirmarSenha')?.errors?.['required']">Campo obrigatório.</div>
            <div *ngIf="stakeholderFormGroup.get('confirmarSenha')?.errors?.['minlength']">Mínimo de 5 caracteres.</div>
            <div *ngIf="stakeholderFormGroup.get('confirmarSenha')?.errors?.['maxlength']">Máximo de 30 caracteres.</div>
          </div>
        </div>
      </div>

      <button
        class="inline-flex items-center font-medium bg-violet-600 border-0 rounded p-3 w-1/3 justify-center focus:outline-none hover:bg-violet-800 text-white mt-4"
      >
        Concluir Cadastro
      </button>
      <p class="text-gray-700 text-center text-sm mt-6 font-light">
        Já possui cadastro?
        <a href="/collaborator-signin" class="text-violet-700 font-medium"
          >Faça login clicando aqui.</a
        >
      </p>
    </form>
  </div>
</section>
