<div class="m-5 flex">
  <div>
    <h1 class="text-3xl font-medium mb-5">Formulário de Cadastro de Cenário</h1>

    <form class="flex flex-col space-y-4">
      <div class="flex flex-col mb-4">
        <label for="nome">Nome do Cenário</label>
        <input type="text" class="border rounded p-2" id="nome">
      </div>
      <div class="flex flex-col mb-4">
        <label for="tipo">Tipo do Cenário</label>
        <input type="text" class="border rounded p-2" id="tipo">
      </div>
      <div class="flex flex-col mb-4">
        <label for="descricao">Descrição do Cenário</label>
        <input type="text" class="border rounded p-2" id="descricao">
      </div>

      <div class="flex space-x-2 mt-5">
        <button
          class="bg-violet-700 text-white py-2 px-3 hover:bg-violet-800 font-medium rounded-md flex items-center shadow-md"
        >
          Concluir Cadastro
        </button>
        <button
          class="bg-violet-700 text-white py-2 px-3 hover:bg-violet-800 font-medium rounded-md flex items-center shadow-md"
        >
        <a href="dashboard/cenarios"> Cancelar</a>
        </button>
      </div>
    </form>
  </div>
</div>
