<section class="px-8 py-5">
  <div *ngIf="projeto" class="flex justify-between items-center pb-3 border-b border-gray-400">
    <div class="flex items-center">
      <div
        class="w-10 h-10 rounded-full bg-violet-200 flex items-center text-xl justify-center"
      >
        {{projeto.nome[0]}}
      </div>
      <h3 class="text-xl ms-3 font-medium">{{projeto.nome}}</h3>
    </div>
    <div class="ms-auto">
      <button
        (click)="backToFatorHome()"
        class="bg-violet-700 text-white p-2 rounded-md hover:bg-violet-800 font-medium flex items-center shadow-md mr-2"
      >
      <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="w-5 h-5 me-2"
    >
      <path
        fill-rule="evenodd"
        d="M9.53 2.47a.75.75 0 010 1.06L4.81 8.25H15a6.75 6.75 0 010 13.5h-3a.75.75 0 010-1.5h3a5.25 5.25 0 100-10.5H4.81l4.72 4.72a.75.75 0 11-1.06 1.06l-6-6a.75.75 0 010-1.06l6-6a.75.75 0 011.06 0z"
        clip-rule="evenodd"
      />
      </svg>
        Retornar ao Início
      </button>
    </div>
  </div>
  <div class="container px-5 py-24 mx-auto">
    <form
      (submit)="onSubmit()"
      [formGroup]="FatorFormGroup"
      class="border-l-4 border-violet-700 rounded-lg md:w-1/2 mx-auto flex flex-col items-center shadow-lg p-10"
    >
      <div class="rounded-full bg-violet-700 p-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="ws-10 h-10 text-white font-black"
        >
          <path
            fillRule="evenodd"
            d="M14.447 3.027a.75.75 0 01.527.92l-4.5 16.5a.75.75 0 01-1.448-.394l4.5-16.5a.75.75 0 01.921-.526zM16.72 6.22a.75.75 0 011.06 0l5.25 5.25a.75.75 0 010 1.06l-5.25 5.25a.75.75 0 11-1.06-1.06L21.44 12l-4.72-4.72a.75.75 0 010-1.06zm-9.44 0a.75.75 0 010 1.06L2.56 12l4.72 4.72a.75.75 0 11-1.06 1.06L.97 12.53a.75.75 0 010-1.06l5.25-5.25a.75.75 0 011.06 0z"
            clipRule="evenodd"
          />
        </svg>
      </div>
      <h2 class="my-4 text-xl text-center">
        Inserir
        <span class="font-medium text-violet-700">Novo Fator</span>
      </h2>
      <div class="relative mb-4 w-full">
        <label for="fatAmb" class="leading-7 text-sm text-gray-600"
          >Fator Ambiental</label
        >
        <select
          formControlName="fatorAmb"
          id="fatAmb"
          name="fatAmb"
          class="w-full bg-gray-50 rounded border border-gray-300 focus:border-violet-700 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-3 px-3 leading-8 transition-colors duration-200 ease-in-out"
        >
          <option value="1">Familiaridade com o processo unificado</option>
          <option value="2">Experiência aplicação</option>
          <option value="3">Experiência com orientação a objetos</option>
          <option value="4">Capacidade de análise do líder de projeto</option>
          <option value="5">Motivação</option>
          <option value="6">Estabilidade dos requisitos</option>
          <option value="7">Consultores em tempo parcial</option>
          <option value="8">Dificuldade de programação na Linguagem</option>
        </select>
        <div
          *ngIf="
              FatorFormGroup.get('fatAmb')?.invalid &&
            (FatorFormGroup.get('fatAmb')?.dirty ||
              FatorFormGroup.get('fatAmb')?.touched)
          "
          class="text-red-600 text-xs mt-1"
        >
          <div *ngIf="FatorFormGroup.get('fatAmb')?.errors?.['required']">
            Campo obrigatório.
          </div>
        </div>
      </div>
      <div class="relative mb-4 w-full">
        <label for="valor" class="leading-7 text-sm text-gray-600"
          >Valor</label
        >
        <input
          formControlName="valor"
          type="text"
          id="valor"
          name="valor"
          class="w-full bg-gray-50 rounded border border-gray-300 focus:border-violet-700 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
        <div
          *ngIf="
              FatorFormGroup.get('valor')?.invalid &&
            (FatorFormGroup.get('valor')?.dirty ||
              FatorFormGroup.get('valor')?.touched)
          "
          class="text-red-600 text-xs mt-1"
        >
          <div *ngIf="FatorFormGroup.get('valor')?.errors?.['required']">
            Campo obrigatório.
          </div>
          <div *ngIf="FatorFormGroup.get('valor')?.errors?.['min']">
            Mínimo de 0.
          </div>
          <div *ngIf="FatorFormGroup.get('valor')?.errors?.['max']">
            Máximo de 5.
          </div>
        </div>
      </div>
      <button
        class="inline-flex items-center font-medium bg-violet-600 border-0 rounded p-3 w-1/3 justify-center focus:outline-none hover:bg-violet-800 text-white mt-4"
      >
        Concluir Cadastro
      </button>
    </form>
  </div>
</section>
