<div class="m-5 flex">
  <div>
    <h1 class="text-3xl font-medium mb-5">Formulário de Edição</h1>

    <form class="flex flex-col space-y-4">
      <div class="flex flex-col mb-4">
        <label for="valor">Valor</label>
        <input type="number" min="1" max="5" class="border rounded p-2" id="valor">
      </div>

      <div class="flex space-x-2 mt-5">
        <button
          class="bg-violet-700 text-white py-2 px-3 hover:bg-violet-800 font-medium rounded-md flex items-center shadow-md"
        >
          Atualizar

        </button>
        <button
          class="bg-violet-700 text-white py-2 px-3 hover:bg-violet-800 font-medium rounded-md flex items-center shadow-md"
        >
        <a href="dashboard/fatores-ambientais"> Cancelar</a>
        </button>
      </div>
    </form>
  </div>
</div>
