<section>
  <div
    class="container px-5 py-24 mx-auto flex flex-wrap justify-center gap-16"
  >
    <div
      class="border-l-4 border-violet-700 w-full md:w-96 rounded-lg flex flex-col items-center shadow-md p-5"
    >
      <img src="../../../../assets/img/programmer.svg" alt="" class="h-60" />
      <h2 class="mt-5 text-xl text-gray-800 font-medium">
        Sou um <span class="text-violet-700">Engenheiro de Software</span>
      </h2>
      <p class="text-gray-700 text-center text-sm mt-4 font-light">
        Faço parte de uma Software House e gostaria de utilizar o
        <span class="text-violet-700 font-medium">Prioreasy/Estima</span> para
        gerenciar Projetos de Software.
      </p>
      <a
        href="/collaborator-signin"
        class="inline-flex items-center font-medium bg-violet-600 border-0 rounded p-3 focus:outline-none hover:bg-violet-800 text-white mt-4"
      >
        Efetuar Login como Colaborador
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="w-4 h-4 ml-1"
          viewBox="0 0 24 24"
        >
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
      <p class="text-gray-700 text-center text-xs mt-4 font-light">
        Ainda não possui um cadastro?
        <a href="/signup" class="text-violet-700 font-medium"
          >Crie já sua conta clicando aqui.</a
        >
      </p>
    </div>
    <div
      class="border-l-4 border-violet-700 w-full md:w-96 rounded-lg flex flex-col items-center shadow-md p-5"
    >
      <img src="../../../../assets/img/stakeholder.svg" alt="" class="h-60" />
      <h2 class="mt-5 text-xl text-gray-800 font-medium">
        Sou um <span class="text-violet-700">Stakeholder</span>
      </h2>
      <p class="text-gray-700 text-center text-sm mt-4 font-light">
        Estou sendo atendido por uma Software House e gostaria de utilizar o
        <span class="text-violet-700 font-medium">Prioreasy/Estima</span> para
        priorizar Requisitos de Software.
      </p>
      <a
        href="/stakeholder-signin"
        class="inline-flex items-center font-medium bg-violet-600 border-0 rounded p-3 focus:outline-none hover:bg-violet-800 text-white mt-4"
      >
        Efetuar Login como Stakeholder
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="w-4 h-4 ml-1"
          viewBox="0 0 24 24"
        >
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
      <p class="text-gray-700 text-center text-xs mt-4 font-light">
        Ainda não possui uma chave de acesso?
        <span class="text-violet-700 font-medium"
          >Solicite-a ao seu parceiro.</span
        >
      </p>
    </div>
  </div>
</section>
