<div class="m-5">
  <h1 class="text-3xl font-medium mb-5">Lista de Atores</h1>

  <div class="columns-1 md:columns-2 xl:columns-4 gap-5">
    <div
      class="border-l-4 border-violet-800 shadow-md bg-white px-4 pb-4 pt-3 rounded-lg mb-5"
    >
      <h5 class="text-violet-700 font-medium">Total de Atores</h5>
      <div class="flex items-center justify-between">
        <h6 class="text-violet-700 text-5xl font-bold">
          {{ totalAtores }}
        </h6>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-16 h-16 text-violet-700 font-black"
        >
          <path
            fill-rule="evenodd"
            d="M2.25 6a3 3 0 013-3h13.5a3 3 0 013 3v12a3 3 0 01-3 3H5.25a3 3 0 01-3-3V6zm3.97.97a.75.75 0 011.06 0l2.25 2.25a.75.75 0 010 1.06l-2.25 2.25a.75.75 0 01-1.06-1.06l1.72-1.72-1.72-1.72a.75.75 0 010-1.06zm4.28 4.28a.75.75 0 000 1.5h3a.75.75 0 000-1.5h-3z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
    </div>
    <div
      class="border-l-4 border-violet-800 shadow-md bg-white px-4 pb-4 pt-3 rounded-lg mb-5"
    >
      <h5 class="text-violet-700 font-medium">Total de Atores Simples</h5>
      <div class="flex items-center justify-between">
        <h6 class="text-violet-700 text-5xl font-bold">
          {{ atoresSimples }}
        </h6>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-16 h-16 text-violet-700 font-black"
        >
          <path
            fill-rule="evenodd"
            d="M2.25 6a3 3 0 013-3h13.5a3 3 0 013 3v12a3 3 0 01-3 3H5.25a3 3 0 01-3-3V6zm3.97.97a.75.75 0 011.06 0l2.25 2.25a.75.75 0 010 1.06l-2.25 2.25a.75.75 0 01-1.06-1.06l1.72-1.72-1.72-1.72a.75.75 0 010-1.06zm4.28 4.28a.75.75 0 000 1.5h3a.75.75 0 000-1.5h-3z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
    </div>
    <div
      class="border-l-4 border-violet-800 shadow-md bg-white px-4 pb-4 pt-3 rounded-lg mb-5"
    >
      <h5 class="text-violet-700 font-medium">Total de Atores Médios</h5>
      <div class="flex items-center justify-between">
        <h6 class="text-violet-700 text-5xl font-bold">
          {{ atoresMedios }}
        </h6>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-16 h-16 text-violet-700 font-black"
        >
          <path
            fill-rule="evenodd"
            d="M2.25 6a3 3 0 013-3h13.5a3 3 0 013 3v12a3 3 0 01-3 3H5.25a3 3 0 01-3-3V6zm3.97.97a.75.75 0 011.06 0l2.25 2.25a.75.75 0 010 1.06l-2.25 2.25a.75.75 0 01-1.06-1.06l1.72-1.72-1.72-1.72a.75.75 0 010-1.06zm4.28 4.28a.75.75 0 000 1.5h3a.75.75 0 000-1.5h-3z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
    </div>
    <div
      class="border-l-4 border-violet-800 shadow-md bg-white px-4 pb-4 pt-3 rounded-lg mb-5"
    >
      <h5 class="text-violet-700 font-medium">Total de Atores Complexos</h5>
      <div class="flex items-center justify-between">
        <h6 class="text-violet-700 text-5xl font-bold">
          {{ atoresComplexos }}
        </h6>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-16 h-16 text-violet-700 font-black"
        >
          <path
            fill-rule="evenodd"
            d="M2.25 6a3 3 0 013-3h13.5a3 3 0 013 3v12a3 3 0 01-3 3H5.25a3 3 0 01-3-3V6zm3.97.97a.75.75 0 011.06 0l2.25 2.25a.75.75 0 010 1.06l-2.25 2.25a.75.75 0 01-1.06-1.06l1.72-1.72-1.72-1.72a.75.75 0 010-1.06zm4.28 4.28a.75.75 0 000 1.5h3a.75.75 0 000-1.5h-3z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
    </div>
  </div>

  <div class="table-actions">
    <div class="flex items-center justify-between">
      <div class="flex items-center shadow-md w-1/2 lg:w-1/4">
        <input
          type="text"
          id="role"
          name="role"
          placeholder="Pesquisar por..."
          class="focus:border-violet-700 w-full focus:ring-2 rounded-l-md focus:ring-violet-200 text-base outline-none text-gray-700 py-2 px-3 leading-8 transition-colors duration-200 ease-in-out"
        />
        <button
          class="bg-violet-700 text-white p-3 hover:bg-violet-800 font-medium rounded-r-md shadow-md"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6"
          >
            <path
              fill-rule="evenodd"
              d="M10.5 3.75a6.75 6.75 0 100 13.5 6.75 6.75 0 000-13.5zM2.25 10.5a8.25 8.25 0 1114.59 5.28l4.69 4.69a.75.75 0 11-1.06 1.06l-4.69-4.69A8.25 8.25 0 012.25 10.5z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </div>

      <button
        class="bg-violet-700 text-white p-3 hover:bg-violet-800 font-medium rounded-md flex items-center shadow-md"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="w-5 h-5 mr-1"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm.75-11.25a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z"
            clip-rule="evenodd"
          />
        </svg>
        <a href="dashboard/inserir-atores">Inserir Novo</a>

      </button>
    </div>
  </div>

  <div class="table-container mt-5 overflow-x-auto shadow-md">
    <app-tabela
      [data]="atores"
      [columns]="colunasTabela"
      [entityAttributes]="camposEntidade"
      [onEdit]="editarItem.bind(this)"
      [onDelete]="excluirItem.bind(this)"
    ></app-tabela>
  </div>

  <app-dialogo-confirmacao
    [titulo]="tituloDialogo"
    [mensagem]="mensagemDialogo"
    [isActive]="showModal"
    [onCancel]="cancelarExclusao.bind(this)"
    [onConfirm]="confirmarExclusao.bind(this)"
  ></app-dialogo-confirmacao>

  <div class="table-buttons mt-5 flex w-full">
    <button
      class="disabled:bg-violet-400 bg-violet-700 text-white py-2 px-3 hover:bg-violet-800 font-medium rounded-md flex items-center shadow-md ml-auto mr-1"
      [disabled]="paginaAtual === 0"
      (click)="prevPage()"
    >
      Voltar
    </button>
    <button
      class="disabled:bg-violet-400 bg-violet-700 text-white py-2 px-3 hover:bg-violet-800 font-medium rounded-md flex items-center shadow-md"
      [disabled]="paginaAtual === totalPaginas - 1"
      (click)="nextPage()"
    >
      Avançar
    </button>
  </div>


</div>
