<div class="py-5 px-8">
  <div
    *ngIf="projeto"
    class="flex justify-between items-center pb-3 border-b border-gray-400"
  >
    <div class="flex items-center">
      <div
        class="w-10 h-10 rounded-full bg-violet-200 flex items-center text-xl justify-center"
      >
        {{ projeto.nome[0] }}
      </div>
      <h3 class="text-xl ms-3 font-medium">{{ projeto.nome }}</h3>
    </div>
    <div class="flex ms-auto">
      <button
        (click)="openProjectHome()"
        [disabled]="!projeto.admin"
        data-bs-toggle="modal"
        data-bs-target="#modalConfirmacao"
        class="disabled:bg-violet-400 bg-violet-700 text-white p-2 rounded-md hover:bg-violet-800 font-medium flex items-center shadow-md"
      >
          <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-5 h-5 me-2"
          >
          <path
            fill-rule="evenodd"
            d="M9.53 2.47a.75.75 0 010 1.06L4.81 8.25H15a6.75 6.75 0 010 13.5h-3a.75.75 0 010-1.5h3a5.25 5.25 0 100-10.5H4.81l4.72 4.72a.75.75 0 11-1.06 1.06l-6-6a.75.75 0 010-1.06l6-6a.75.75 0 011.06 0z"
            clip-rule="evenodd"
            />
        </svg>
        Voltar ao Início
      </button>
    </div>
  </div>
  <h2 class="my-5 text-3xl font-medium">Ferramentas do <span class="text-violet-700 font-medium"
    >Estima</span></h2>
  <div class="flex flex-col md:flex-row gap-x-8 items-stretch">
    <div (click)="openAtores()"
      class="border-l-4 border-violet-800 shadow-md bg-white p-4 rounded-lg mb-5 md:w-1/2 group hover:bg-violet-800 hover:cursor-pointer"
    >
      <h5
        class="text-violet-700 text-xl lg:text-2xl font-medium group-hover:text-white"
      >
        Atores
      </h5>
      <div class="flex items-center justify-between">
        <h6
          class="md:text-md lg:text-lg xl:text-xl text-gray-700 pr-3 group-hover:text-white"
        >
          Adicionar ou remover atores do projeto
        </h6>

        <svg xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-16 h-16 text-violet-700 font-black group-hover:text-white"
        >
          <path
            fill-rule="evenodd"
            d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
            clip-rule="evenodd" />
        </svg>
      </div>
    </div>
    <div (click)="openFatorAmbiental()"
      class="border-l-4 border-violet-800 shadow-md bg-white px-4 pb-4 pt-3 rounded-lg mb-5 md:w-1/2 group hover:bg-violet-800 hover:cursor-pointer"
    >
      <h5
        class="text-violet-700 text-xl lg:text-2xl font-medium group-hover:text-white"
      >
        Fatores Ambientais
      </h5>
      <div class="flex items-center justify-between">
        <h6
          class="md:text-md lg:text-lg xl:text-xl text-gray-700 pr-3 group-hover:text-white"
        >
          Gerenciar fatores ambientais.
        </h6>

        <svg xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-16 h-16 text-violet-700 font-black group-hover:text-white"
        >
          <path
          d="M6 12a.75.75 0 01-.75-.75v-7.5a.75.75 0 111.5 0v7.5A.75.75 0 016 12zM18 12a.75.75 0 01-.75-.75v-7.5a.75.75 0 011.5 0v7.5A.75.75 0 0118 12zM6.75 20.25v-1.5a.75.75 0 00-1.5 0v1.5a.75.75 0 001.5 0zM18.75 18.75v1.5a.75.75 0 01-1.5 0v-1.5a.75.75 0 011.5 0zM12.75 5.25v-1.5a.75.75 0 00-1.5 0v1.5a.75.75 0 001.5 0zM12 21a.75.75 0 01-.75-.75v-7.5a.75.75 0 011.5 0v7.5A.75.75 0 0112 21zM3.75 15a2.25 2.25 0 104.5 0 2.25 2.25 0 00-4.5 0zM12 11.25a2.25 2.25 0 110-4.5 2.25 2.25 0 010 4.5zM15.75 15a2.25 2.25 0 104.5 0 2.25 2.25 0 00-4.5 0z" />
        </svg>

      </div>
    </div>

  </div>
  <div class="flex flex-col md:flex-row gap-x-8 items-stretch">
    <div (click)="openFatorTecnico()"
      class="border-l-4 border-violet-800 shadow-md bg-white px-4 pb-4 pt-3 rounded-lg mb-5 md:w-1/2 group hover:bg-violet-800 hover:cursor-pointer"
    >
      <h5
        class="text-violet-700 text-xl lg:text-2xl font-medium group-hover:text-white"
      >
        Fatores Técnicos
      </h5>
      <div class="flex items-center justify-between">
        <h6
          class="md:text-md lg:text-lg xl:text-xl text-gray-700 pr-3 group-hover:text-white"
        >
          Gerenciar Fatores técnicos.
        </h6>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-16 h-16 text-violet-700 font-black group-hover:text-white"
          >
          <path
            d="M18.75 12.75h1.5a.75.75 0 000-1.5h-1.5a.75.75 0 000 1.5zM12 6a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 0112 6zM12 18a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 0112 18zM3.75 6.75h1.5a.75.75 0 100-1.5h-1.5a.75.75 0 000 1.5zM5.25 18.75h-1.5a.75.75 0 010-1.5h1.5a.75.75 0 010 1.5zM3 12a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 013 12zM9 3.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5zM12.75 12a2.25 2.25 0 114.5 0 2.25 2.25 0 01-4.5 0zM9 15.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z" />
        </svg>

      </div>
    </div>
    <div (click)="openEstimativa()"
      class="border-l-4 border-violet-800 shadow-md bg-white px-4 pb-4 pt-3 rounded-lg mb-5 md:w-1/2 group hover:bg-violet-800 hover:cursor-pointer"
    >
      <h5
        class="text-violet-700 text-xl lg:text-2xl font-medium group-hover:text-white"
      >
        Estimativa
      </h5>
      <div class="flex items-center justify-between">
        <h6
          class="md:text-md lg:text-lg xl:text-xl text-gray-700 pr-3 group-hover:text-white"
        >
          Gerenciar a estimativa de esforços do projeto.
        </h6>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-16 h-16 text-violet-700 font-black group-hover:text-white"
          >
          <path
            fill-rule="evenodd"
            d="M3 6a3 3 0 013-3h12a3 3 0 013 3v12a3 3 0 01-3 3H6a3 3 0 01-3-3V6zm4.5 7.5a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0v-2.25a.75.75 0 01.75-.75zm3.75-1.5a.75.75 0 00-1.5 0v4.5a.75.75 0 001.5 0V12zm2.25-3a.75.75 0 01.75.75v6.75a.75.75 0 01-1.5 0V9.75A.75.75 0 0113.5 9zm3.75-1.5a.75.75 0 00-1.5 0v9a.75.75 0 001.5 0v-9z"
            clip-rule="evenodd" />
        </svg>
      </div>
    </div>
  </div>

  <app-dialogo-confirmacao
    [titulo]="tituloDialogo"
    [mensagem]="mensagemDialogo"
    [isActive]="showModal"
    [onCancel]="cancelarExclusao.bind(this)"
    [onConfirm]="confirmarExclusao.bind(this)"
  ></app-dialogo-confirmacao>
</div>
