<footer class="text-gray-600 body-font border-t border-gray-100">
  <div
    class="container px-5 p-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col"
  >
    <div class="w-64 flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
      <a
        href="#"
        class="flex title-font justify-center md:justify-start font-medium items-center text-gray-900 mb-4 md:mb-0"
        href="/"
      >
        <div class="rounded-full bg-violet-700 p-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-6 h-6 text-white font-black"
          >
            <path
              fillRule="evenodd"
              d="M14.447 3.027a.75.75 0 01.527.92l-4.5 16.5a.75.75 0 01-1.448-.394l4.5-16.5a.75.75 0 01.921-.526zM16.72 6.22a.75.75 0 011.06 0l5.25 5.25a.75.75 0 010 1.06l-5.25 5.25a.75.75 0 11-1.06-1.06L21.44 12l-4.72-4.72a.75.75 0 010-1.06zm-9.44 0a.75.75 0 010 1.06L2.56 12l4.72 4.72a.75.75 0 11-1.06 1.06L.97 12.53a.75.75 0 010-1.06l5.25-5.25a.75.75 0 011.06 0z"
              clipRule="evenodd"
            />
          </svg>
        </div>
        <span class="ml-3 text-xl">Prioreasy/Estima</span>
      </a>
      <p class="mt-4 text-sm text-gray-500">
        Redescubra o Gerenciamento de Projetos de Software com o
        Prioreasy/Estima.
      </p>
      <button
        class="font-medium text-violet-700 border border-violet-600 rounded p-2 focus:outline-none hover:bg-violet-800 hover:text-white mt-3"
      >
        <a>Saiba mais</a>
      </button>
    </div>
    <div
      class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center"
    >
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="title-font font-medium text-violet-700 tracking-widest text-sm mb-3"
        >
          CATEGORIA 1
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="#" class="text-gray-600 hover:text-violet-800"
              >First Link</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-600 hover:text-violet-800"
              >Second Link</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-600 hover:text-violet-800"
              >Third Link</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-600 hover:text-violet-800"
              >Fourth Link</a
            >
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="title-font font-medium text-violet-700 tracking-widest text-sm mb-3"
        >
          CATEGORIA 2
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="#" class="text-gray-600 hover:text-violet-800"
              >First Link</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-600 hover:text-violet-800"
              >Second Link</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-600 hover:text-violet-800"
              >Third Link</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-600 hover:text-violet-800"
              >Fourth Link</a
            >
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="title-font font-medium text-violet-700 tracking-widest text-sm mb-3"
        >
          CATEGORIA 3
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="#" class="text-gray-600 hover:text-violet-800"
              >First Link</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-600 hover:text-violet-800"
              >Second Link</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-600 hover:text-violet-800"
              >Third Link</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-600 hover:text-violet-800"
              >Fourth Link</a
            >
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2
          class="title-font font-medium text-violet-700 tracking-widest text-sm mb-3"
        >
          CATEGORIA 4
        </h2>
        <nav class="list-none mb-10">
          <li>
            <a href="#" class="text-gray-600 hover:text-violet-800"
              >First Link</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-600 hover:text-violet-800"
              >Second Link</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-600 hover:text-violet-800"
              >Third Link</a
            >
          </li>
          <li>
            <a href="#" class="text-gray-600 hover:text-violet-800"
              >Fourth Link</a
            >
          </li>
        </nav>
      </div>
    </div>
  </div>
  <div class="bg-gray-100">
    <div
      class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row"
    >
      <p class="text-gray-500 text-sm text-center sm:text-left">
        © 2023 Prioreasy/Estima —
        <a
          href="https://sbv.ifsp.edu.br"
          rel="noopener noreferrer"
          class="text-gray-600 ml-1"
          target="_blank"
          >BCC @ IFSP-SBV</a
        >
      </p>
      <span
        class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start"
      >
        <a href="#" class="text-gray-500">
          <svg
            fill="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-5 h-5"
            viewBox="0 0 24 24"
          >
            <path
              d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
            ></path>
          </svg>
        </a>
        <a href="#" class="ml-3 text-gray-500">
          <svg
            fill="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-5 h-5"
            viewBox="0 0 24 24"
          >
            <path
              d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
            ></path>
          </svg>
        </a>
        <a href="#" class="ml-3 text-gray-500">
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-5 h-5"
            viewBox="0 0 24 24"
          >
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path
              d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
            ></path>
          </svg>
        </a>
        <a href="#" class="ml-3 text-gray-500">
          <svg
            fill="currentColor"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="0"
            class="w-5 h-5"
            viewBox="0 0 24 24"
          >
            <path
              stroke="none"
              d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"
            ></path>
            <circle cx="4" cy="4" r="2" stroke="none"></circle>
          </svg>
        </a>
      </span>
    </div>
  </div>
</footer>
