<div class="py-5 px-8">
  <div *ngIf="projeto" class="flex justify-between items-center pb-3 border-b border-gray-400">
    <div class="flex items-center">
      <div
        class="w-10 h-10 rounded-full bg-violet-200 flex items-center text-xl justify-center"
      >
        {{projeto.nome[0]}}
      </div>
      <h3 class="text-xl ms-3 font-medium">{{projeto.nome}}</h3>
    </div>
    <div class="flex ms-auto">
      <button
        (click)="onEdit()"
        [disabled]="!projeto.admin"
        class="disabled:bg-violet-400 bg-violet-700 text-white p-2 rounded-md hover:bg-violet-800 font-medium flex items-center shadow-md mr-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-5 h-5 me-2"
        >
          <path
            d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z"
          />
        </svg>
        Editar Dados
      </button>
      <button
        (click)="onDelete()"
        [disabled]="!projeto.admin"
        data-bs-toggle="modal"
        data-bs-target="#modalConfirmacao"
        class="disabled:bg-violet-400 bg-violet-700 text-white p-2 rounded-md hover:bg-violet-800 font-medium flex items-center shadow-md"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-5 h-5 me-2"
        >
          <path
            fill-rule="evenodd"
            d="M5.47 5.47a.75.75 0 011.06 0L12 10.94l5.47-5.47a.75.75 0 111.06 1.06L13.06 12l5.47 5.47a.75.75 0 11-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 01-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 010-1.06z"
            clip-rule="evenodd"
          />
        </svg>
        Excluir Projeto
      </button>
    </div>
  </div>
  <h2 class="my-5 text-3xl font-medium">Geral</h2>
  <div class="flex flex-col md:flex-row gap-x-8 items-stretch">
    <div (click)="openColaboradores()"
      class="border-l-4 border-violet-800 shadow-md bg-white p-4 rounded-lg mb-5 md:w-1/2 group hover:bg-violet-800 hover:cursor-pointer"
    >
      <h5
        class="text-violet-700 text-xl lg:text-2xl font-medium group-hover:text-white"
      >
        Colaboradores
      </h5>
      <div class="flex items-center justify-between">
        <h6
          class="md:text-md lg:text-lg xl:text-xl text-gray-700 pr-3 group-hover:text-white"
        >
          Adicionar ou remover integrantes à equipe do projeto
        </h6>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-16 h-16 text-violet-700 font-black group-hover:text-white"
        >
          <path
            d="M4.5 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM14.25 8.625a3.375 3.375 0 116.75 0 3.375 3.375 0 01-6.75 0zM1.5 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM17.25 19.128l-.001.144a2.25 2.25 0 01-.233.96 10.088 10.088 0 005.06-1.01.75.75 0 00.42-.643 4.875 4.875 0 00-6.957-4.611 8.586 8.586 0 011.71 5.157v.003z"
          />
        </svg>
      </div>
    </div>
    <div (click)="openRequisitos()"
      class="border-l-4 border-violet-800 shadow-md bg-white px-4 pb-4 pt-3 rounded-lg mb-5 md:w-1/2 group hover:bg-violet-800 hover:cursor-pointer"
    >
      <h5
        class="text-violet-700 text-xl lg:text-2xl font-medium group-hover:text-white"
      >
        Requisitos Funcionais
      </h5>
      <div class="flex items-center justify-between">
        <h6
          class="md:text-md lg:text-lg xl:text-xl text-gray-700 pr-3 group-hover:text-white"
        >
          Gerenciar Requisitos de Software
        </h6>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-16 h-16 text-violet-700 font-black group-hover:text-white"
        >
          <path
            fill-rule="evenodd"
            d="M7.502 6h7.128A3.375 3.375 0 0118 9.375v9.375a3 3 0 003-3V6.108c0-1.505-1.125-2.811-2.664-2.94a48.972 48.972 0 00-.673-.05A3 3 0 0015 1.5h-1.5a3 3 0 00-2.663 1.618c-.225.015-.45.032-.673.05C8.662 3.295 7.554 4.542 7.502 6zM13.5 3A1.5 1.5 0 0012 4.5h4.5A1.5 1.5 0 0015 3h-1.5z"
            clip-rule="evenodd"
          />
          <path
            fill-rule="evenodd"
            d="M3 9.375C3 8.339 3.84 7.5 4.875 7.5h9.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 013 20.625V9.375zM6 12a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V12zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM6 15a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V15zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75zM6 18a.75.75 0 01.75-.75h.008a.75.75 0 01.75.75v.008a.75.75 0 01-.75.75H6.75a.75.75 0 01-.75-.75V18zm2.25 0a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H9a.75.75 0 01-.75-.75z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
    </div>
  </div>
  <h2 class="my-5 text-3xl font-medium">Ferramentas</h2>
  <div class="flex flex-col md:flex-row justify-center gap-8">
    <div
      class="border-l-4 border-violet-700 w-full md:w-1/2 bg-white rounded-lg flex flex-col items-center shadow-md p-5"
    >
      <img src="../../../../assets/img/prioreasy.svg" alt="" class="h-60" />
      <h2 class="mt-5 text-xl text-gray-800 font-medium">
        Gostaria de utilizar o <span class="text-violet-700">Prioreasy</span>
      </h2>
      <p class="text-gray-700 text-center text-sm mt-4 font-light">
        Acesse as funcionalidades do
        <span class="text-violet-700 font-medium">Prioreasy</span> para
        gerenciar
        <span class="text-violet-700 font-medium">Stakeholders</span> e a
        <span class="text-violet-700 font-medium"
          >Priorização de Requisitos de Software</span
        >
        em seu projeto.
      </p>
      <a
        href="/dashboard/projeto/{{projeto.id}}/painel-prioreasy"
        class="inline-flex items-center font-medium bg-violet-600 border-0 rounded p-3 focus:outline-none hover:bg-violet-800 text-white mt-4"
      >
        Acessar Prioreasy
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="w-4 h-4 ml-1"
          viewBox="0 0 24 24"
        >
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
    </div>
    <div
      class="border-l-4 border-violet-700 w-full md:w-1/2 bg-white rounded-lg flex flex-col items-center shadow-md p-5"
    >
      <img src="../../../../assets/img/estima.svg" alt="" class="h-60" />
      <h2 class="mt-5 text-xl text-gray-800 font-medium">
        Gostaria de utilizar o <span class="text-violet-700">Estima</span>
      </h2>
      <p class="text-gray-700 text-center text-sm mt-4 font-light">
        Acesse as funcionalidades do
        <span class="text-violet-700 font-medium">Estima</span> para
        gerenciar os
        <span class="text-violet-700 font-medium">Casos de Uso</span> e realizar o processo de
        <span class="text-violet-700 font-medium"
          >Estima de Esforços</span
        >
        de seu projeto.
      </p>
      <a
        href="/stakeholder-signin"
        class="inline-flex items-center font-medium bg-violet-600 border-0 rounded p-3 focus:outline-none hover:bg-violet-800 text-white mt-4"
      >
        Acessar o Estima
        <svg
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="w-4 h-4 ml-1"
          viewBox="0 0 24 24"
        >
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
    </div>
  </div>

  <app-dialogo-confirmacao
    [titulo]="tituloDialogo"
    [mensagem]="mensagemDialogo"
    [isActive]="showModal"
    [onCancel]="cancelarExclusao.bind(this)"
    [onConfirm]="confirmarExclusao.bind(this)"
  ></app-dialogo-confirmacao>
</div>
